@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Nunito+Sans:wght@400;700&display=swap');

*{
    padding: 0;
	margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', 'Baskerville';
}

.header{
    background-color: #0b4257;
    height: 120px;
    position: fixed;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
}

.logo img{
    height: 80px;
    width: auto;
    margin-top: 1rem;
    margin-left: 3.5rem;
}

.nav-menu{
    display: flex;
    margin-right: 1rem;
    color: white;
}

.nav-text{
	font-size: 19px;
}

li{
    margin: 0 8px;
    line-height: 120px;
}

.header .nav-menu li a:hover{
	color: #c89414;
}

.nav-menu .linea{
	color: white;
	font-style: normal;
	font-size: 30px;
}

.nav-menu a{
    color: white;
    font-family: Nunito sans;
}

.usa img{
	height: auto;
	width: auto;
	position: relative;
	top: 11px;
}

.btn button{
	font-family: Nunito sans;
}

.btn button{
	font-weight: 200;
	color: white;
	padding: 11px 30px;
	background: #0b4257;
	border: 1px solid #fff;
	border-radius: 9px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.btn button:hover{
	background-color: #c89414;
	color: white;
	transform: scale(1.1);
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 1637px) {
		
	.logo img{
		height: 60px;
		width: auto;
		margin-top: 1rem;
		margin-left: 2rem;
	}
	
	.nav-menu{
		display: flex;
		margin-right: 0.1rem;
	}

	.nav-text{
		font-size: 17px;
	}

	li{
		margin: 0 7px;
	}
	
	.header .nav-menu li a:hover{
		color: #c89414;
	}
	
	.nav-menu .linea{
		color: white;
		font-style: normal;
		font-size: 21px;
	}
	
	.nav-menu a{
		color: white;
		font-family: Nunito sans;
	}
	
	.usa img{
		height: 30px;
		width: auto;
		position: relative;
		top: 9px;
	}
	
	.btn button{
		font-weight: 200;
		color: white;
		padding: 9px 20px;
		background: #0b4257;
		border: 1px solid #fff;
		border-radius: 9px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 1382px) {
		
	.logo img{
		height: 55px;
		width: auto;
		margin-top: 1.2rem;
		margin-left: 1.5rem;
	}
	
	.nav-menu{
		display: flex;
		margin-right: 0.1rem;
	}

	.nav-text{
		font-size: 15px;
	}

	li{
		margin: 0 7px;
	}
	
	.header .nav-menu li a:hover{
		color: #c89414;
	}
	
	.nav-menu .linea{
		color: white;
		font-style: normal;
		font-size: 21px;
	}
	
	.nav-menu a{
		color: white;
		font-family: Nunito sans;
	}
	
	.usa img{
		height: 30px;
		width: auto;
		position: relative;
		top: 9px;
	}
	
	.btn button{
		font-size: 16px;
	}

	.btn button{
		font-weight: 200;
		color: white;
		padding: 10px 10px;
		background: #0b4257;
		border: 1px solid #fff;
		border-radius: 9px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 1239px) {
		
	.logo img{
		height: 45px;
		width: auto;
		margin-top: 1.5rem;
		margin-left: 1.5rem;
	}
	
	.nav-menu{
		display: flex;
		margin-right: 0.1rem;
	}

	.nav-text{
		font-size: 12px;
	}

	li{
		margin: 0 7px;
	}

	.nav-menu .linea{
		color: white;
		font-style: normal;
		font-size: 18px;
	}
	
	.nav-menu a{
		color: white;
		font-family: Nunito sans;
	}
	
	.usa img{
		height: 30px;
		width: auto;
		position: relative;
		top: 9px;
	}
	
	.btn button{
		font-size: 13px;
	}

	.btn button{
		font-weight: 200;
		color: white;
		padding: 8px 10px;
		background: #0b4257;
		border: 1px solid #fff;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 1069px) {
    
    .header{
        height: 60px;
    }

    .logo img{
        height: 45px;
        line-height: 60px;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        color: white;
        background-color: #0b4257;
        position: fixed;
        left:0;
        top: 60px;
        width: 100%;
        padding: 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    li{
        font-size: 30px;
        line-height: 60px;
        text-transform: uppercase;
    }

    .nav-menu .linea{
		display: none;
    }

	.nav-text{
		font-size: 18px;
	}
    
    .nav-menu a{
        color: white;
        font-family: Nunito sans;
    }

	.btn button{
		font-weight: 200;
		color: white;
		padding: 11px 30px;
		background: #0b4257;
		border: 1px solid #fff;
		border-radius: 9px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

    .btn button:hover{
        background-color: #c89414;
        color: white;
        transform: scale(1.1);
    }
    
    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }
   

}

.img-back{
	width: 10%;
	height: auto;
}

/* Video o Imagen */

.img-test{
	width: 100vw;
	min-width: 320px;
}

.imgback {
	width: 100%;
}

/* Vive la experiencia */

.container{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.container {
	background-image: url(../images/palmera.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.vive_title p{
	font-size: 2.875rem;
	color: #0b4257;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.costa_oro p{
	font-size: 5rem;
	font-family: Baskerville;
	font-style: italic;
	color: #c89414;
	margin-bottom: 1rem;
}

.hoja_costa img{
	height: 4.875rem;
	width: auto;
	margin-bottom: 3rem;
}

.lorem_title p{
	font-size: 1.8rem;
	font-family: Nunito Sans;
	font-weight: 550;
	color: #3c3c3c;
	margin-bottom: 2rem;
}

.lore_body p{
	font-size: 1.5rem;
	font-family: Nunito Sans;
	text-align:  center;
	color: #3c3c3c;
	max-width: 57rem;
	margin-bottom: 2rem;
}

.lore_body2 p{
	font-size: 1.5rem;
	font-family: Nunito Sans;
	text-align: center;
	color: #3c3c3c;
	max-width: 57rem;
	margin-bottom: 2rem;
}

@media (max-width: 1091px) {
	.vive_title p{
		font-size: 2rem;
		color: #0b4257;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	
	.costa_oro p{
		font-size: 4rem;
		font-family: Baskerville;
		font-style: italic;
		color: #c89414;
		margin-bottom: 1rem;
	}
		
	.lorem_title p{
		font-size: 1.2rem;
		font-family: Nunito Sans;
		font-weight: 550;
		color: #3c3c3c;
		margin-bottom: 2rem;
	}
	
	.lore_body p{
		font-size: 1.2rem;
		font-family: Nunito Sans;
		text-align:  center;
		color: #3c3c3c;
		max-width: 57rem;
		margin-bottom: 2rem;
	}
	
	.lore_body2 p{
		font-size: 1.2rem;
		font-family: Nunito Sans;
		text-align: center;
		color: #3c3c3c;
		max-width: 57rem;
		margin-bottom: 2rem;
	}

}
@media (max-width: 732px) {
	.vive_title p{
		font-size: 2rem;
		color: #0b4257;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	
	.costa_oro p{
		font-size: 3.5rem;
		font-family: Baskerville;
		font-style: italic;
		color: #c89414;
		margin-bottom: 1rem;
	}
		
	.lorem_title p{
		font-size: .7rem;
		font-family: Nunito Sans;
		font-weight: 550;
		color: #3c3c3c;
		margin-bottom: 2rem;
	}
	
	.lore_body p{
		font-size: .9rem;
		font-family: Nunito Sans;
		text-align:  center;
		color: #3c3c3c;
		max-width: 57rem;
		margin-bottom: 2rem;
	}
	
	.lore_body2 p{
		font-size: .9rem;
		font-family: Nunito Sans;
		text-align: center;
		color: #3c3c3c;
		max-width: 57rem;
		margin-bottom: 2rem;
	}

}

@media (max-width: 423px) {
	.vive_title p{
		font-size: 1rem;
		color: #0b4257;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.hoja_costa img{
		height: 3rem;
		width: auto;
		margin-bottom: 3rem;
	}
	
	.costa_oro p{
		font-size: 1.6rem;
		font-family: Baskerville;
		font-style: italic;
		color: #c89414;
		margin-bottom: 1rem;
	}
		
	.lorem_title p{
		font-size: .5rem;
		font-family: Nunito Sans;
		font-weight: 550;
		color: #3c3c3c;
		margin-bottom: 2rem;
	}
	
	.lore_body p{
		font-size: .7rem;
		font-family: Nunito Sans;
		text-align:  center;
		color: #3c3c3c;
		max-width: 57rem;
		margin-bottom: 2rem;
	}
	
	.lore_body2 p{
		font-size: .7rem;
		font-family: Nunito Sans;
		text-align: center;
		color: #3c3c3c;
		max-width: 57rem;
		margin-bottom: 2rem;
	}

}

/* Nuestras Amenidades */
.na_body{
		margin: 0;
		padding: 0;
		width: 100%;
		
}
.na_body {
	display: flex;
	flex-flow: nowrap row;
  }

  .img-left{
	width: 100vw;
	min-height: 80vh;
}
  
  .img-left {
	flex: 1.5;
	background: url(../images/ALBERCA.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
  }
  
  .content {
	background: #0b4257;
	flex: 1;
	align-items: start;
	justify-content: center;
	padding-left: 4rem;
  }
  
  .content h2 {
    color: white;
    font-family: Baskerville;
    font-size: 2rem;
    margin-top: 1.38rem;
    margin-bottom: 1rem;

}

  .content span.highlihgt {
	color: #c89414;
    font-family: Baskerville;
    font-style: italic;
    font-size: 2rem;
  }
  
  .content .links .link-item {
	align-items: center;
	display: flex;
	flex-flow: nowrap row;
	margin-left: 2rem;
	margin-top: 1rem;
	margin-bottom: 1em;
  }
  
  .link-item img {
	width: 3rem;
	height: 3rem;
  }
  
  .link-item hr {
	color: white;
	margin: 0 20px;
	border-right: 1px solid white;
	width: 0.063rem;
	height: 2rem;
  }
  
  .link-item span {
	color: white;
	font-size: 1.1rem;
	font-family: Nunito sans;
  }
  
  .flex {
	display: flex;
  }
  .wrap {
	flex-grow: wrap;
  }
  .no-wrap {
	flex-grow: nowrap;
  }
  .fh {
	flex-direction: row;
  }
  .fv {
	flex-direction: column;
  }
  
  .left {
	flex: 1.5;
	align-items: center;
	justify-content: center;
  }

  @media only screen and (max-width: 1024px) {
	.content h2 {
		color: white;
		font-family: Baskerville;
		font-size: 1.5rem;
		margin-top: 1.38rem;
		margin-bottom: 1rem;
	
	}
	
	  .content span.highlihgt {
		color: #c89414;
		font-family: Baskerville;
		font-style: italic;
		font-size: 1.5rem;
	  }
	  
	  .content .links .link-item {
		align-items: center;
		display: flex;
		flex-flow: nowrap row;
		margin-left: 1rem;
		margin-top: 1rem;
		margin-bottom: 1em;
	  }
	  
	  .link-item img {
		width: 2.6rem;
		height: 2.6rem;
	  }
	  
	  .link-item hr {
		color: white;
		margin: 0 10px;
		border-right: 1px solid white;
		width: 0.063rem;
		height: 1rem;
	  }
	  
	  .link-item span {
		color: white;
		font-size: .7rem;
		font-family: Nunito sans;
	  }

  }

  @media only screen and (max-width: 768px) {
	.na_body {
	  flex-flow: nowrap column;
	}
  
	.left {
	  min-height: 500px;
	}

	.content h2 {
		color: white;
		font-family: Baskerville;
		font-size: 1.5rem;
		margin-top: 1.38rem;
		margin-bottom: 1rem;
	
	}
	
	  .content span.highlihgt {
		color: #c89414;
		font-family: Baskerville;
		font-style: italic;
		font-size: 1.5rem;
	  }
	  
	  .content .links .link-item {
		align-items: center;
		display: flex;
		flex-flow: nowrap row;
		margin-left: 1rem;
		margin-top: 1rem;
		margin-bottom: 1em;
	  }
	  
	  .link-item img {
		width: 2.6rem;
		height: 2.6rem;
	  }
	  
	  .link-item hr {
		color: white;
		margin: 0 10px;
		border-right: 1px solid white;
		width: 0.063rem;
		height: 1rem;
	  }
	  
	  .link-item span {
		color: white;
		font-size: .7rem;
		font-family: Nunito sans;
	  }
  }

/* Habitaciones */
.ha_body{
	margin: 0;
	padding: 0;
	width: 100%;
	
}
.ha_body {
display: flex;
flex-flow: nowrap row;
}

.img-right{
width: 100vw;
min-height: 80vh;
}

.img-right {
flex: 1.5;
background: url(../images/HABITACIONES.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
margin-right: 6%;

}

.content3 {
flex: 1.2;
align-items: start;
justify-content: center;
padding-left: 4rem;
}

.content3 h2{
	font-size: 1.1rem;
	color: #3c3c3c;
	font-family: Nunito sans;
	margin-top: 10rem;
	margin-left: 2rem;
}

.content3 hr {
	border-color: #0b4257;
	border-right: 1px solid white;
	width: 50px;
	height: 1px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-left: 2rem;
}

.content3 h1{
	font-size: 1.8rem;
	font-family: Nunito sans;
	color: #0b4257;
	width: 90%;
	margin-bottom: 2rem;
	margin-left: 2rem;

}

.content3 p {
	font-size: 18px;
	font-family: Nunito sans;
	color: #7b7b7b;
	width: 70%;
	margin-left: 2rem;
	margin-bottom: 4rem;
	text-align: justify;
}

.hab-vermas{
	align-items: center;
	display: flex;
	flex-flow: nowrap row;
	margin-top: 11rem;
	margin-bottom: 3rem;
	margin-left: 13rem;
	
	color: #7b7b7b;
}

.hab-vermas img {
	width: 33px;
	height: 33px;
}

.hab-vermas span{
	font-size: 13px;
	font-style: bold;
	font-family: Nunito sans;
}

@media only screen and (max-width: 1024px){
	.img-right {
		flex: 1.5;
		background: url(../images/HABITACIONES.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		margin-right: 0%;
		
		}
		.content3 h1{
			font-size: 1.4rem;
			font-family: Nunito sans;
			color: #0b4257;
			width: 90%;
			margin-bottom: 2rem;
			margin-left: 2rem;
		
		}
}

@media only screen and (max-width: 768px){
	.ha_body {
		flex-flow: nowrap column;
	  }
	  
	  .left {
		min-height: 900px;
	  }
	
	.content3 hr {
		border-color: #0b4257;
		border-right: 1px solid white;
		width: 50px;
		height: 1px;
		margin-bottom: 2rem;
		margin-top: 2rem;
		margin-left: 2rem;
	}
	
	.content3 h1{
		font-size: 1rem;
		font-family: Nunito sans;
		color: #0b4257;
		width: 90%;
		margin-bottom: 2rem;
		margin-left: 2rem;
	
	}
	
	.content3 p {
		font-size: 1.1rem;
		font-family: Nunito sans;
		color: #7b7b7b;
		width: 70%;
		margin-left: 2rem;
		margin-bottom: 4rem;
		text-align: justify;
	}
	
	.hab-vermas{
		align-items: center;
		display: flex;
		flex-flow: nowrap row;
		margin-top: 4rem;
		margin-bottom: 3rem;
		margin-left: 13rem;
		
		color: #7b7b7b;
	}
}


/* Experiencia Gastronomica */

.content2 {
	flex: 1.2;
	align-items: start;
	justify-content: center;
	margin-left: 4rem;
  }

.ex_body {
	width: 100%;
	max-height: 59.875rem;
	display: flex;
	flex-flow: nowrap row;
  }

  .ex_body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
  }

  .ex_body{
	background-image: url(../Utilerias/background-exp.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
  }

.left {
	flex: 1.5;
	align-items: center;
	justify-content: center;
  }
  
  .left .img1{
	flex: 0.4;
	height: 80%;
	margin-right: 10px;
	background: url(../Utilerias/comida1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

  } 

  .left .img2 {
	flex: 0.4;
	height: 80%;
	margin-right: 10px;
	background: url(../Utilerias/comida2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  } 
  
  .left .img1 {
	margin-top: 80px;
  }
  .left .img2 {
	margin-bottom: 80px;
  }

  .exp-right {
	display: flex;
	width: 70%;
	flex: 1;
	flex-flow: nowrap column;
	justify-content: center;
}

.exp-right hr {
	border-color: #0b4257;
	border-right: 1px solid white;
	width: 50px;
	height: 1px;
	gap: 2px;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.exp-right h1{
	font-size: 30px;
	font-family: Nunito sans;
	color: #0b4257;
	margin-bottom: 0.5rem;

}

.exp-right h2 {
	font-size: .85rem;
	font-family: Nunito sans;
	color: #7b7b7b;
}

.exp-right p {
	font-size: 18px;
	font-family: Nunito sans;
	color: #7b7b7b;
	width: 85%;
	text-align: justify;
}

.exp-vermas{
	align-items: center;
	display: flex;
	flex-flow: nowrap row;
	margin-left: 2rem;
	margin-top: 15rem;
	color: #7b7b7b;
}

.exp-vermas img {
	width: 33px;
	height: 33px;
}

.exp-vermas span{
	font-size: 13px;
	font-style: bold;
	font-family: Nunito sans;
}
@media only screen and (max-width: 1024px){
	.exp-right h1{
		font-size: 1.2rem;
		font-family: Nunito sans;
		color: #0b4257;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	.exp-vermas{
		align-items: center;
		display: flex;
		flex-flow: nowrap row;
		margin-left: 2rem;
		margin-top: 1rem;
		color: #7b7b7b;
	}
	.left .img2 {
		display: none;
	  }

	  .left .img1{
		flex: 1;
		height: 80%;
		background: url(../Utilerias/comida1.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	
	  }  
}
  @media only screen and (max-width: 768px) {
	.ex_body {
	  flex-flow: nowrap column;
	}
  
	.left {
	  min-height: 200px;
	}
	.left .img1{
		flex: 0.3;
		height: 80%;
		background: url(../Utilerias/comida1.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 3rem;
	
	  } 
	  .exp-right h1{
		font-size: 1rem;
		font-family: Nunito sans;
		color: #0b4257;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}
	.exp-right h2 {
		font-size: .7rem;
		font-family: Nunito sans;
		color: #7b7b7b;
	}

	.exp-right p {
		width: 100%;
	}

	  .exp-vermas{
		align-items: center;
		display: flex;
		flex-flow: nowrap row;
		margin-left: 2rem;
		margin-top: 4rem;
		margin-bottom: 1rem;
		color: #7b7b7b;
	} 
  }
  @media only screen and (max-width: 444px) {
	.left {
		min-height: 250px;
	  }
	  .left .img1{
		  flex: 0.3;
		  height: 80%;
		  background: url(../Utilerias/comida1.png);
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  margin-bottom: 3rem;
	  
		} 
		
		.exp-right {
			display: flex;
			width: 70%;
			height: 20%;
			flex: 1;
			flex-flow: nowrap column;
			justify-content: center;
		}

		.exp-right h1{
		  font-size: 1rem;
		  font-family: Nunito sans;
		  color: #0b4257;
		  margin-top: .7rem;
		  margin-bottom: 0.5rem;
	  }
	  .exp-right h2 {
		  font-size: .7rem;
		  font-family: Nunito sans;
		  color: #7b7b7b;
	  }
  
	  .exp-right p {
		  width: 100%;
	  }
  
		.exp-vermas{
		  align-items: center;
		  display: flex;
		  flex-flow: nowrap row;
		  margin-left: 2rem;
		  margin-top: 0.5rem;
		  margin-bottom: 1rem;
		  color: #7b7b7b;
	  } 
  }
/* Vistazo a tu Próxima Experiencia */

.vis_body {
	display: flex;
	width: auto;
	flex: 1;
	flex-flow: nowrap column;
	align-items: center;
	justify-content: center;
}

.instegram-top img{
	width: 3.75rem;
	height: 3.75rem;
}

.instegram-top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.instegram-top span {
	font-size: 2.8rem;
	font-family: Baskerville;
	font-style: normal;
	color: #0b4257;
}

.texto_span {
	font-family: Baskerville;
	font-style: italic;
	color: #c89414;
	font-size: 90px;
	padding-bottom: 2rem;
}

.instegram-img {
	display: flex;
	flex-flow: nowrap center;
}

.instegram-img img{
	width: 100%;
}

.instegram-img img {
	padding: 1rem;
}

@media only screen and (max-width: 1720px) {
	
	.instegram-top img{
		width: 3rem;
		height: 3rem;
	}
	
	.instegram-top span {
		font-size: 2rem;
		font-family: Baskerville;
		font-style: normal;
		color: #0b4257;
	}
	
	.texto_span {
		font-family: Baskerville;
		font-style: italic;
		color: #c89414;
		font-size: 3rem;
		padding-bottom: 2rem;
	}


	.instegram-img img {
		width: 34%;
	}
}

@media only screen and (max-width: 1024px) {
	
	.instegram-top img{
		width: 2rem;
		height: 2rem;
	}
	
	.instegram-top span {
		font-size: 1.3rem;
		font-family: Baskerville;
		font-style: normal;
		color: #0b4257;
	}
	
	.texto_span {
		font-family: Baskerville;
		font-style: italic;
		color: #c89414;
		font-size: 2rem;
		padding-bottom: 2rem;
	}


}
@media only screen and (max-width: 768px) {
	
	.instegram-top{
		margin-top: 1rem;
	}
	
	.instegram-top img{
		width: 2rem;
		height: 2rem;
	}
	
	.instegram-top span {
		font-size: 1.1rem;
		font-family: Baskerville;
		font-style: normal;
		color: #0b4257;
		padding-left: 1rem;
	}
	
	.texto_span {
		font-family: Baskerville;
		font-style: italic;
		color: #c89414;
		font-size: 1.8rem;
		margin-top: 1rem;
	}
	
	.instegram-img{
		display: flex;
		justify-content: center;
	}

}

/* Mapa de Ubicaciones */

.ubicacion-img {
	display: flex;
	background-color: #215269;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	width: auto;
}

.ubicacion-img{
	width: 100vw;
	min-width: 320px;
	object-fit: cover;
}

.ubicacion-img img{
	width: 100%;
}

/* Footer */
.footer1 {
	background-color: #d8d8d8; 
	width: 100%;
}

.footer1 .grupo-1{
	width: 100%;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 75% 30% 2% 3%;
	grid-gap: 40px;
	padding: 53px 0px;
}

.footer1 .grupo-1 .box figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.box figure {
	margin-right: 40rem;
	margin-left: 10rem;
}

.footer1 .grupo-1 .box figure img{
	width: 250px;
}

.footer1 .grupo-1 .box h2 {
	margin-bottom: 5px;
	font-size: 20px;
	font-family: Nunito sans;
	color: #3a3a3a;
}

.footer1 .grupo-1 .box p{
	margin-bottom: 3px;
	font-size: 16.5px;
	font-family: Nunito sans;
	color: #434343;
}

.red-social h2 {
	margin-top: 1rem;
}

.box hr{
	border-color: #c89414;
	background-color: #c89414;
	width: 1px;
	height: 230px;
}

.red-social img {
	width: 50px;
	height: 50px;
}

.footer2 {
	background-color: #c89414;
	width: 100%;
	height: 6rem;
}

@media only screen and (max-width: 1547px) {
	.footer1 .grupo-1{
		width: 100%;
		max-width: 1400px;
		display: grid;
		grid-template-columns: 45% 13% 1% 2%;
		grid-gap: 40px;
		padding: 53px 0px;
	}
}

@media only screen and (max-width: 1024px){
	.footer1 .grupo-1{
		width: 100%;
		max-width: 1200px;
		display: grid;
		grid-template-columns: 50% 20% 2% 2%;
		grid-gap: 40px;
		padding: 53px 0px;
	}
	.footer1 .grupo-1 .box figure img{
		width: 200px;
	}

}

@media screen and (max-width:900px) {
	.footer1 .grupo-1{
	grid-template-columns: repeat(1, 1fr);
	padding: 25px 20px;
}

.box figure {
	padding-left: 6.2rem;
	margin-right: 0rem;
	margin-left: 0rem;
}

.box hr{
	height: 1px;
	width: 228px;
	margin-left: 0rem;
}

}